<head>
  <meta charset="utf-8" />
  <!-- <link rel="apple-touch-icon" sizes="76x76" href="/paper/design/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/freemold/img/favicon.ico"> -->
  <link rel="shortcut icon" href="/freemold/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/freemold/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="/freemold/img/favicon.ico">
  <link rel="shortcut icon" href="/freemold/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/ind-script/optimizer.php?filename=nc1LCoAwDIThfXHrOYLeqC3xAU2mpCno7RW8gHQ7zMdPB4RpWY2qYbcoZNzQLTPl1mgzqFOGCHR6h5n-_DmHhtL9hIaEaxB299FoiTfbGPWYCg9S1FBO5ZCi6td_AA&amp;type=css&amp;k=37c9481ac0212340e132f81eba4d1049fee7f18e&amp;t=1635315871">
  <link rel="stylesheet" type="text/css" href="/ind-script/optimizer.php?filename=tdVNTgUhDAfw_Ru3nqMaL-HCnSfgozP0WVoyhRe9vTga48bVwIaEQH7AP1AgaUbAsDTD3WB1zCRrE3p4hNI8U1hSzQwWcYlotAnYG8kTLPEKwQzi9cLuQ1u96717GMCVXWML4zxjirif476o3LfFCN-nBUO3h_SM7rT9Z6u-yjAr6-2c9XNQ74zCgQbNWWUwiuHSO3hpNAmuqlypTNIT8ix6yDv4X3cbias4K3XnJ8m-1TrtFnp9nxcIzwq7zwqj61tu_dVY0vJCNq4Wr6p1RL1cVerRTEq0D4z_Mn4jfU1UCsk2eoGgcusGqZTjPnwC&amp;type=css&amp;k=c779240ecae98b0c991b116f4be06fde67c74703&amp;t=1627372626&amp;user=T">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    세진액자 ss
  </title>
  
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/paper/design/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/paper/dashboard/assets/css/paper-dashboard.css?v=2.1.1" rel="stylesheet" />
  <link href="/paper/design/assets/css/paper-kit.css?v=2.3.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/paper/design/assets/demo/demo.css" rel="stylesheet" />
</head>
<body>
  <div id="header" class="">   
    <div class="inner first_in"> 
        
<!------------------------------------------------------------------------------------------------------------------     

    ※ 로고 좌측 로그인, 로그아웃 등 메뉴
 
------------------------------------------------------------------------------------------------------------------->

<div class="top_menu">
    

<div class="xans-layout-category right_cate">
        <div class="position">        
            <ul><!------------------------------------------------------------------------------------------------------------------     

                ※ 커뮤니티
 
                -------------------------------------------------------------------------------------------------------------------><li class="tel nor">C/S CENTER <span>1577-4085</span></li>
  
                <li class="community_btn nor">    
                    <a href="#none" class="click"><img src="/_dj/img/top_r_menu_icon_01_b.png" alt="커뮤니티아이콘"> COMMUNITY</a>
                    <div class="community_all">
                        <div class="community">
                            <ul><li><a href="http://skin-skin3.fallinfuni01.cafe24.com/board/magazine/list.html?board_no=5">NEWS</a></li>
                              
                               
                               <li><a href="/board/gallery/list.html?board_no=8">MAGAZINE</a></li>
                            </ul></div>
                    </div>
                </li>   

                 
                <!--★ 멀티 쇼핑몰 시작 ★-->
                <li>
                                    </li>
                <!--// 멀티 쇼핑몰 끝 -->
            </ul></div> 
     </div>




<!------------------------------------------------------------------------------------------------------------------     

    ※ 검색창 
 
------------------------------------------------------------------------------------------------------------------->
<div class="right_area">
    <div class="right_icon">       
        <li class="search all_list">               
            <div id="find_btn" class="find_btn">
                <a href="#none"><img src="/_dj/img/top_r_menu_icon_03_b.png" alt="검색버튼" class="btn_b"></a>
            </div>
            
            <div id="find_view">
                <form id="searchBarForm" name="" action="/product/search.html" method="get" target="_self" enctype="multipart/form-data">
<input id="banner_action" name="banner_action" value="" type="hidden"><div class="xans-element- xans-layout xans-layout-searchheader "><!--
                    $product_page=/product/detail.html
                    $category_page=/product/list.html
                    -->
<fieldset>
<span>검색</span> <input id="keyword" name="keyword" fw-filter="" fw-label="검색어" fw-msg="" class="inputTypeText" placeholder="" onmousedown="SEARCH_BANNER.clickSearchForm(this)" value="" type="text"><input type="image" src="/_dj/img/search_btn_img.png" alt="검색" onclick="SEARCH_BANNER.submitSearchBanner(this); return false;"> &nbsp;<div id="find_btn2" class="find_btn"><a href="#none">X</a></div>
</fieldset>
</div>
</form>                <div class="xans-element- xans-search xans-search-hotkeyword bestKeyword"><span>추천 검색어</span>
<span>
                        <a href="/product/search.html?keyword=" class="xans-record-"></a>
                                            </span>
</div>
 
            </div>
        </li>
    </div>
</div>

 
    <ul><li><a>SEARCH</a></li>
    </ul></div>
    </div>  
        
    <div class="header_inner">     
        
<!------------------------------------------------------------------------------------------------------------------     

    ※ 로고 
 
------------------------------------------------------------------------------------------------------------------->

<div class="logo">
    <a href="/index.html"><img src="/_dj/img/new_logo.png" onmouseover="this.src='/_dj/img/new_logo02.png'" onmouseout="this.src='/_dj/img/new_logo.png'"></a>
</div>
        <!------------------------------------------------------------------------------------------------------------------     

    ※ 상단 카테고리 & 우측 아이콘 영역 / 카테고리별 이미지 설정 아래 참조
 
------------------------------------------------------------------------------------------------------------------->

<div id="top_category">
    <div class="inner">
    <div class="xans-element- xans-layout xans-layout-category left_cate c_position"><ul class="category_img">
<div class="position">
             <ul>
<li class="list active"><a href="/shopinfo/company.html">COMPANY</a></li>
                 
                <!--------------------------------------------------------------------- 

                ※ 상품관리 > 분류관리에서 설정한 카테고리 시작 (소스 수정 X)
                ※ 관련 매뉴얼 http://d-j.co.kr/_dj/sub/manual/manual_view.html?no=22347&board_no=3

                ---------------------------------------------------------------------->
                <li class="list xans-record-"><a href="/product/list.html?cate_no=47">PRODUCT</a></li>
                   
                 
                <!--------------------------------------------------------------------- 

                ※ 일반 카테고리 리스트 

                ---------------------------------------------------------------------->
                <li class="list"><a href="/board/magazine/list.html?board_no=5">NEWS</a></li>
                <li class="list"><a href="/board/gallery/list.html?board_no=8">MAGAZINE</a></li>
              </ul>
</div>   
        </ul>
<!-----★ 카테고리 마우스 오버 시 이미지 출력 영역 ★-------------------------------------------------------------------------- 

        ※ <div id="sub_img" class="sub_카테고리번호"><a href="링크원하는주소"><img src="/이미지경로/이미지파일명"/></a></div>
        ※ 카테고리 번호 확인 : 상품관리 > 분류관리 > 카테고리 선택 후 우측 분류 URL 제일 끝 숫자를 적으시면 됩니다.
        ※ 관련 매뉴얼 http://d-j.co.kr/_dj/sub/manual/manual_view.html?no=30766&board_no=3

        ------------------------------------------------------------------------------------------------------------------------------><div id="sub_img" class="sub_24"><a href="/product/list.html?cate_no=24"><img src="/_dj/img/category_item_img_1.jpg"></a></div>
<div id="sub_img" class="sub_25"><a href="/product/list.html?cate_no=25"><img src="/_dj/img/category_item_img_2.jpg"></a></div>
</div>
        
        
    </div>
</div>  
        

<div class="top_banner">
    <ul><li>
           <!---------------------------------------------------------------------------------------------------------

              ※ 1. 프로모션 > 쿠폰관리 > 쿠폰 만들기 > 발급구분 "고객 다운로드 발급" 선택 후 원하는 조건으로 생성
              ※ 2. 프로모션 > 쿠폰관리 > 쿠폰 발급/조회 > 경로 "복사" 후 링크로 사용

           ----------------------------------------------------------------------------------------------------------->
           <a href="https://smartstore.naver.com/fallinfuni">GO TO STORE</a>
        </li>
    </ul></div>  
    </div>
    </div>
    <div id="wrap">
      <div id="container">     
      
  
  <div class="titleArea">
      <h2>FALL IN FUNI</h2>
  </div>
  
  <div id="mall_company">
     <ul class="mall-company"><li class="text">
             <h2 class="scroll-fade motion4">
                 매일매일<br>
                 식탁을 연구합니다
             </h2>
             <p class="scroll-fade motion1">
                원목을 서로 끼워 맞춤으로 최소한의 접착제가 사용되는 천연 원목소재<br>
                접착제가 전혀 사용되지 않는 스틸프레임<br>
                합리적인 가격, 다양한 컬러, 다양한 디자인 그리고 안정성<br></p><p class="scroll-fade motion2">
                라돈 체크부터 포름알데하이드까지 걱정없이 사용할 수 있게<br>
                안정성을 고려하며 디자인하여 안전하게 사용할 수 있게<br>
                수백가지 다양한 구성으로 나만의 식탁을 만들 구성할 수 있게<br>
                체계적인 생산라인과 유통구조로<br>
                최적의 가격으로 최고의 제품을 선보일 수 있게<br><br></p>
               <p class="scroll-fade motion4">
                오늘도 폴인퍼니의 식탁에 대한 연구는 계속됩니다.
               </p>
             
         </li>
             
         <li class="img_zone scroll-fade"><img src="/_dj/img/research01_2.jpg" alt="이미지"></li>
         <li class="text"><p></p></li>
         <li class="text">
              <h1 class="scroll-fade motion2">
                이제 식탁에 진심인 폴인퍼니에서<br>
                나만의 식탁을 만들어 보세요.
             </h1>
             </li>
         <li class="text"><p></p></li>
         <li class="img_zone scroll-fade"><img src="/_dj/img/showroom_new.jpg" alt="이미지"></li>
         
  
  <br><br><br><br><li class="img_zone"><img src="/_dj/img/custom.gif" alt="이미지"></li>
   
  <li class="text"><p></p></li>
  
       <!-------★ MUMU TV 시작 ★------------------------------------------------------------------>
  <div id="main_section_5" class="main_section"> 
      <div class="inner">
              <li>
                  <div id="main_title" class="scroll-fade">
                      <ul><li>        
                              <h2></h2><p class="bar"></p>
                          </li>
                      </ul></div>
              </li><li>
          
          
         <!--------★ 동영상 출력 영역 ★---------------------------------------------------------------------------------------------------------------------------------------------------
  
              ※ 아래 소스 중 0sREmCmcdio 에 해당 하는 유튜브 코드 부분만 변경 바랍니다.
              ※ 유튜브 채널에서 "공유하기" 클릭 후 나오는 다음 주소 중 https://youtu.be/SQ81QFF0toE  "SQ81QFF0toE" 에 해당 하는 코드만 입력하시면 됩니다.
  
          ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->                     
          <div class="embed-container"><iframe src="https://www.youtube.com/embed//4s6l0GLqDl0?autoplay=1&amp;mute=1&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;loop=1&amp;start=3&amp;playlist=4s6l0GLqDl0" frameborder="0" allowfullscreen=""></iframe></div>  
  
      </li></div>
  </div>
  <!------------★ // MUMU TV 끝  -------------------------------------------------> 
     </ul></div>
  
      </div>
  
  
  
  <!-- 하단 영역 -->
  
  
  
  <!----------------------------------------------------------------------------------------------------------------------
  
    ※ SNS 아이콘 
    ※ 표시된 이 외 아이콘 사용 원하실 경우 아래 주석 제거 후 사용하시면 됩니다. 
    ※ 카카오플친과 네이버 톡톡의 경우 https://pf.kakao.com/test 와 같은 주소 부분만 변경하시면 됩니다.
  
  ------------------------------------------------------------------------------------------------------------------------>
  
  <div id="scroll_sns_icon">
      <ul><!-- 카카오채널 바뀐 아이콘 파일명 scroll_sns_icon_kakaochannel.png --><!---li><a href="#none" onclick="window.open('https://talk.naver.com/ct/wcdlxx','window','location=no, directories=no,resizable=no,status=no,toolbar=no,menubar=no, width=500,height=780,left=0, top=0, scrollbars=yes');"><img src="/_dj/img/scroll_sns_icon_kakaoplus.png" alt="카카오채널" /></a></li!---><li><a href="https://www.instagram.com/fallinfuni/" target="_blank"><img src="/_dj/img/scroll_sns_icon_insta.png" alt="인스타그램"></a></li>
  
          <!---li><a href="https://facebook.com" target="_blank"><img src="/_dj/img/scroll_sns_icon_facebook.png" alt="페이스북" /></a></li!--->
          
          <li><a href="https://www.youtube.com/channel/UCYzd7GTqb5f8DONuZQPR16A" target="_blank"><img src="/_dj/img/scroll_sns_icon_youtube.png" alt="유튜브"></a></li>
          
          <li><a href="#none" onclick="window.open('https://talk.naver.com/ct/wcdlxx','window','location=no, directories=no,resizable=no,status=no,toolbar=no,menubar=no, width=500,height=600,left=0, top=0, scrollbars=yes');"><img src="/_dj/img/scroll_sns_icon_navertalk.png" alt="네이버톡톡"></a></li>
          
          <li><a href="https://blog.naver.com/fallinfuni" target="_blank"><img src="/_dj/img/scroll_sns_icon_naverblog.png" alt="네이버블로그"></a></li>
          
   
  
      </ul></div>
  
  <!----------------------------------------------------------------------------------------------------------------------
  
    ※ 위/아래 스크롤 아이콘
  
  ------------------------------------------------------------------------------------------------------------------------>
  
  <div id="top_top"><img src="/_dj/img/scroll_icon_01.png" alt="스크롤-업!"></div>
  <div id="bottom_bottom"><img src="/_dj/img/scroll_icon_02.png" alt="스크롤-다운!"></div>
  
  
  
  
  

  </div>

</body>