<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/user/header"></th:block>
<th:block th:replace="/user/script"></th:block>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <!-- Navbar -->
    <!-- <th:block th:replace="fragments/user/navbar"></th:block> -->
    <!-- End Navbar -->
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1 area-left">
            <!-- <th:block th:replace="fragments/user/favorites"></th:block> -->
            메롱
          </div>
        </div>
      </div>
    </div>

  </body>
<th:block th:replace="/user/footer"></th:block>
</html>